{% extends 'base.html.twig' %}

{% block body %}
    <h1>Servicio list</h1>

    <table class="table table-striped">
        <thead>
            <tr>                
                <th width="8%">N°Servicio</th>                                
                <th width="11%">Fecha Reporte</th>
                <th width="11%">Fecha Salida</th>                                
                <th width="10%">Componente</th>
                <th width="10%">Origen</th>
                <th width="10%">Tipo Servicio</th>
                <th width="10%">Estado</th>
                <th width="10%">Prioridad</th>
                <th width="5%">Actions</th>
                <th width="15%"></th>
            </tr>
        </thead>
        <tbody>
        {% for servicio in servicios %}
            <tr>                
                <td>{{ servicio.codigoInterno }}</td>                                
                <td>{% if servicio.fechaReporte %}{{ servicio.fechaReporte|date('d/m/Y H:i') }}{% endif %}</td>
                <td>{% if servicio.fechaSalida %}{{ servicio.fechaSalida|date('d/m/Y H:i') }}{% endif %}</td>                                
                <td>{{ servicio.componente.nombre }}</td>
                <td>{{ servicio.origen.nombre }}</td>
                <td>{{ servicio.tipoServicio.tipo.nombre }}</td>
                <td>{{ servicio.estado.nombre }}</td>
                <td>{{ servicio.prioridad.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('servicio_show', { 'id': servicio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('servicio_edit', { 'id': servicio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('servicio_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
