{% extends 'base.html.twig' %}
{% form_theme GlobalFilters 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}    
{% endblock %}
{% block title %}Monitor Fonasa{% endblock %}
{% block filtro %}
    <form id="filtros" action="" method="post" >      
        <h3>Filtros</h3>
        {{ form_widget(GlobalFilters) }}        
    <input class="btn btn-primary" type="submit" value="Filtrar" />    
{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}            
    <div class="alert alert-success alert-dismissible" role="alert">                
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 style="margin:0px">
            <img data-target="#panel" src="{{ asset('bundles/fonasa-monitor/images/circle_1.png') }}" data-toggle="collapse" style="height:24px;width:24px" />
            &nbspOperación realizada con éxito
        </h3>
        <div>
            <ul>
                {% set foo = flash_message|split('|') %}
                {% for var in foo %}                            
                <li style="margin:10px">                    
                    {{ var }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>                    
    {% endfor %}
    <h1>Servicio list</h1>

    <table id="servicios" class="display table-striped">
        <thead>
            <tr>                
                <th width="10%">N°Servicio</th>                                
                <th width="10%">Fecha Reporte</th>                                             
                <th width="10%">Origen</th>
                <th width="12%">Tipo Servicio</th>                
                <th width="8%">Prioridad</th>
                <th width="8%">Estado</th>
                <th width="20%">Acciones</th>
                <th width="4%">Show/Edit</th>                
            </tr>
        </thead>
        <tbody>        
        </tbody>
    </table>        
    <ul>
        <li>
            <a href="{{ path('servicio_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
<script>
    $(function() {
        $('#servicios th').removeClass('ui-state-default');                                    
    }); 
    
    var $anio = $('#form_Anio');
    var $mes = $('#form_Mes');
    var $estado = $('#form_Estado');
    
    var oTable = $('#servicios').dataTable({
            bPaginate: false,
            bJQueryUI: false,
            bServerSide: true,
            sAjaxSource: '{{ path('servicio_body') }}',
            sServerMethod: 'GET',
            bProcessing: true,
            aoColumnDefs: [
                    {
                    aTargets: [0,1,2,3,4,5,6],
                    class: 'cols'                
                    }                
                ],
            dom: 'frtip<"toolbar">',
            fnDrawCallback: function( oSettings ) {
                $('#servicios th').removeClass('ui-state-default');
            },
            fnServerData: function ( sSource, aoData, fnCallback ) {
			/* Add some extra data to the sender */
			aoData.push( { "name": "anio", "value": $anio.val() } );
                        aoData.push( { "name": "mes", "value": $mes.val() } );
                        aoData.push( { "name": "estado", "value": $estado.find(':checked').val() } );
                        
			$.getJSON( sSource, aoData, function (json) { 
				/* Do whatever additional processing you want on the callback, then tell DataTables */                                
                                $('div.toolbar').html(json.pap);
				fnCallback(json)
			} );
            }                    
        });        
        
        $anio.change(function() {
            oTable.fnDraw();
        });
        
        $mes.change(function() {
            oTable.fnDraw();
        });
        
        $estado.change(function() {
            oTable.fnDraw();
        });
    
</script>
{% endblock %}
