{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('bundles/fonasa-monitor/js/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}            
    <div id="panel" class="flash-notice ui-state-highlight collapse in" style="padding:10px">
        <table width="100%">
            <tr>
                <td width="3%">
                    <img data-target="#panel" src="{{ asset('bundles/fonasa-monitor/images/circle_1.png') }}" data-toggle="collapse" style="height:20px;width:20px" />
                </td>
                <td width="94%">
                    <h3 style="margin:0px">Operación realizada con éxito</h3>        
                </td>
                <td width="3%">
                    <img data-target="#panel" src="{{ asset('bundles/fonasa-monitor/images/close_3.png') }}" data-toggle="collapse" style="height:20px;width:20px;cursor:pointer" />        
                </td>
            </tr>
        </table>
        <div>
            <ul>
                {% set foo = flash_message|split('|') %}
                {% for var in foo %}                            
                <li style="margin:10px">                    
                    {{ var }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
    <h1>Servicio list</h1>

    <table id="servicios" class="display table-striped">
        <thead>
            <tr>                
                <th width="8%">N°Servicio</th>                                
                <th width="12%">Fecha Reporte</th>                                             
                <th width="10%">Origen</th>
                <th width="12%">Tipo Servicio</th>                
                <th width="10%">Prioridad</th>
                <th width="8%">Estado</th>
                <th width="15%">Acciones</th>
                <th width="5%">Show/Edit</th>                
            </tr>
        </thead>
        <tbody>        
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('servicio_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
<script>
    $(function() {
        $('#servicios th').removeClass('ui-state-default');
    }); 
    
    $('#servicios').dataTable({
        bPaginate: false,
        bJQueryUI: false,
        bServerSide: true,
        sAjaxSource: '{{ path('servicio_body') }}',
        sServerMethod: 'GET',
        bProcessing: true,
        aoColumnDefs: [
                {
                aTargets: [0,1,2,3,4,5,6],
                class: 'cols'                
                }                
            ],
        fnDrawCallback: function( oSettings ) {
            $('#servicios th').removeClass('ui-state-default');
        }
    });
    
</script>
{% endblock %}
